@{ 

    Layout = null;

}
<!DOCTYPE HTML>


<html>
<head>
    <title>Eventually by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/first_train.css" rel="stylesheet" />
</head>
<body class="is-preload">

    <header>


    

        <div class="hero ">
            <h1 style=" color:aliceblue; font-size:50px;"> Welcome in OH Agince</h1>
            <div class="link">

                @Html.ActionLink("Start", "List_Of_All", "Cars", null, htmlAttributes: new { @class = "btn btn-primary", style = "   margin-left:700px;        " }) |


            </div>


        
        </div>




    </header>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</body>
</html>